In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = (
    pd.read_csv('../data/train.tsv', sep='\t')
)

In [3]:
raw_data.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

# TODO:

## Justin
- clean category_name into 3 (n) sub cats - Done
- item condition id = https://www.mercari.com/help_center/article/316/
- exclude price with 0 or error
- find brand name from description or item description
- those without brand name will be clustered together with brand name
- assume categorization is correct for first iteration
- find age of product from item name or description if possible



## Shuming
- age of product from item description if possible
- text sentiment analysis from item description --> this correlates with item condition

In [4]:
len(raw_data['train_id'])

1482535

# Quite a lot of missing categories

Over 6300 obs with missing categories. Leaving aside for the moment.

In [6]:
print len(raw_data[pd.isna(raw_data['category_name'])==True])
print raw_data[pd.isna(raw_data['category_name'])==True].head()

6327
      train_id                                      name  item_condition_id  \
122        122                                    Bundle                  3
155        155                      3 Nora Roberts Books                  3
258        258                               ACER Laptop                  5
984        984  AUTHENTIC BRWN MICHAEL KORS MAKEUP STAIN                  4
1185      1185   Teenage Mutant Ninja Turtle Van/ Extras                  3

     category_name    brand_name  price  shipping  \
122            NaN           NaN   59.0         0
155            NaN           NaN   10.0         1
258            NaN           NaN   14.0         0
984            NaN  Michael Kors   18.0         0
1185           NaN   Nickelodeon    9.0         0

                                       item_description
122   Sizes and info of clothes can be found on thei...
155                                        For aferg16.
258   Powers on, no screen display, no external dama...
984                                  No description yet
1185  Teenage Mutant Ninja Turtle Van, April O'Neil ...

In [7]:
temp = raw_data['category_name'].apply(lambda x: 'NaN' if pd.isna(x) else x.split("/"))

In [8]:
raw_data['main_category']=temp.apply(lambda x: x[0])
raw_data['sub_category']=temp.apply(lambda x: x[1])
raw_data['subsub_category']=temp.apply(lambda x: x[2])

In [9]:
raw_data.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,main_category,sub_category,subsub_category
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,Men,Tops,T-shirts
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,Electronics,Computers & Tablets,Components & Parts
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Women,Tops & Blouses,Blouse
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,Home,Home Décor,Home Décor Accents
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,Women,Jewelry,Necklaces